<!DOCTYPE html>
<html>
	<head>
		<title>공유하기</title>
        <script>
        window.fbAsyncInit = function() {
            FB.init({
                appId            : '552043455131217',
                autoLogAppEvents : true,
                xfbml            : true,
                version          : 'v2.10'
            });
            FB.AppEvents.logPageView();
        };
        window.extAsyncInit = function() {
            CloseWindow();
        };
        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.com/en_US/messenger.Extensions.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'Messenger'));
        function CloseWindow(){
            MessengerExtensions.requestCloseBrowser(
                function success() {
                }, function error(err) {
                }
            );
        };
        </script>
    </head>
	<body>
    </body>
</html>
