<!DOCTYPE html>
<html>
  <head>
    <title>공유하기</title>
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>
<script>
  const server_url = 'https://dd3ea490.ngrok.io';
  const share_url = 'https://www.facebook.com/v2.11/dialog/share';
  const appId = '552043455131217';
  const hashtag = ('#hello!!');
  const href = 'https://naver.com';
  
  const redirect_uri = encodeURIComponent(`${server_url}/share`);
  if ( navigator.userAgent.toUpperCase().indexOf('FB') > -1 ){
    location.href = `${share_url}?app_id=${appId}&hashtag=%23`
    + `${encodeURIComponent(hashtag)}&href=${encodeURIComponent(href)}`
    + `&redirect_uri=${redirect_uri}`;
  } else {
    console.log('navigator.userAgent,' , navigator.userAgent);
    window.fbAsyncInit = function() {
      FB.init({
          appId,
          autoLogAppEvents: true,
          xfbml: true,
          version: 'v2.11',
      });
      FB.AppEvents.logPageView();
    };

    (function(doc, script, domId){
      var js, fjs = doc.getElementsByTagName(script)[0];
      if (doc.getElementById(domId)) { return; }
      js = doc.createElement(script);
      js.id = domId;
      js.src = "//connect.facebook.com/en_US/messenger.Extensions.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'Messenger'));

    (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "https://connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

  }

  $(function() {
	  $("button").click(function(){
      console.log('clicked')
      FB.ui(
      {
        method: 'share',
        display: 'popup',
        href,
        hashtag,
      },
      // callback
      function(response) {
        if (response && !response.error_message) {
          console.log('Posting completed.');
          CloseWindow();
        } else {
          console.log('Error while posting.');
        }
      });
    });

    function GetContext(){
        MessengerExtensions.getContext('1709288206037727',
            function success(thread_context){
                CloseWindow();
            },
            function error(err){
            }
        );
    };

    function CloseWindow(){
        MessengerExtensions.requestCloseBrowser(
            function success() {
            }, function error(err) {
            }
        );
    };
  });
</script>
    <div id="content">
      <button type="button">SHARE!</button>  
    </div>
  </body>
</html>