<!DOCTYPE html>
<html>

<head>
  <title>text To array changer</title>
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
</head>
<style>
  #input {
    width: 150px;
    height: 350px;
  }

  #result {
    width: 350px;
    height: 350px;
  }

  #btn {
    font-size: 20px;
    width: 100px;
    height: 100px;
  }
</style>

<body>
  <textarea id="input"></textarea>
  <button id='btn'>click me</button>
  <textarea id="result"></textarea>
  <script>
    String.prototype.replaceAll = function (org, dest) {
      return this.split(org).join(dest);
    }

    function click() {
      var InputTextbox = document.getElementById('input');
      var array = InputTextbox.value.split('\n');
      var arrayJSON = JSON.stringify(array);
      arrayJSON = "[" + arrayJSON + "]";

      var zeroReplace = arrayJSON.replaceAll(',"","","",', ']],[[');
      var firstReplace = zeroReplace.replaceAll(',"","",', '],[');
      var secondReplace = firstReplace.replaceAll(',"",', '],[');
      var thirdReplace = secondReplace.replaceAll(',""', '');
      var fourthReplace = thirdReplace.replaceAll(' (볼래/안볼래)",', '"],[');
      var result = "[" + fourthReplace + "]";
      var resultTextbox = document.getElementById('result');
      resultTextbox.value = result;
    }
    var button = document.getElementById('btn');
    button.addEventListener('click', click);
  </script>
</body>

</html>