<!DOCTYPE html>
<html lang="ko">
	<head>
		<title><%= title %></title> 
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="format-detection" content="telephone=no">
		<!-- js -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<!-- meta -->
		<% if (title) { %>
			<meta property="og:title" content="<%= title %>">
		<% } else { %>
			<meta property="og:title" content="magnetic do">
		<% } %>
		<meta property="og:image" content="https://fierce-beyond-56689.herokuapp.com/media/card-images/card_default_0.jpeg">
		<meta property="og:description" content="<%= description %>">
		<script>function start(){location.href = "https://m.me/cjtvngo";};</script>
	</head>
	<body>
		<div id="app-tvn">
			<article>
				amazing !!!
			</article>
			<a href="javascript: start();" class="share">바로 참여하기</a>
		</div>
	</body>
</html>